*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

header .logo{
    color: #faf3f3;
    font-size: 24px;
    font-weight: 600;
}

header .navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    gap: 20px;
}

header .btnLogin-popup{
    width: 120px;
    height: 40px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #ececec;
    transition: .5s;
    margin-left: 40px;
}
header .btnLogin-popup:hover{
    background-color: #ebf3ec;
    color: #0c0a0a;    
}

header .navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

header .navigation a:hover::after{
    transform: scaleX(1);
}

.wrapper{
    width: 420px;
    padding: 30px 40px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(15px);
    color: #fff;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    margin: 20px 0;
}

.input-box input{
    width: 100%;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 30px;
    font-size: 16px;
    color: #fff;
    padding: 15px 45px 15px 20px;
    outline: none;
}

.input-box input::placeholder{
    color: #f0e9e9;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 10px 0 10px;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    transition: .5s;
}
.btn:hover{
    background-color: #fdfffc;
    color: #080808;
}

.wrapper .icon-close{
    position: absolute;
    right: 0;
    top: 0;
    width:45px;
    height: 45px;
    background-color: transparent;
    border:solid 2px rgba(255,255,255,.2);
    border-bottom-left-radius: 20px;
    font-size: 2em;
    color: #fdf0f0;
    display: flex;
    justify-content: center;  
    align-items: center;
    cursor: pointer;
}

.wrapper .icon-close :hover{
    background-color: #ebf3ec;
    color: #070606;
    border-radius: 25%;
      border-bottom-left-radius: 20px;
}   

.wrapper .register-link{
    text-align: center;
    margin-top: 20px;
    font-size: 14.5px;
}
.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}